@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  background-color: #0f172a;
}

body {
  min-height: 100vh;
  margin: 0;
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}